.container {
  width: 300px;
}



.file_container_one {
  display: flex;
}

.hidden_input {
  display: none;
}

.input_box {
  width: 100%;
}
.button_group_one {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}