.compare-container {
  text-align: center;
  padding: 20px;
}

.editor-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.editor-wrapper {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.button-container {
  margin-top: 20px;
}

//.button {
//  padding: 10px 15px;
//  font-size: 16px;
//  margin-right: 10px;
//  cursor: pointer;
//}

.error {
  color: red;
  font-weight: bold;
}

/* Diff 스타일 */
.diff-insert {
  background-color: #d4f4d2;
  color: #228b22;
  font-weight: bold;
}

.diff-delete {
  background-color: #fdd;
  color: #d9534f;
  font-weight: bold;
}
